<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ "main.css" }}" />

    <title>{{ .Title | default .Site.Title }}</title>
</head>
